/**
  * Name: Corpbusiness
  * Version: 1.0
  * Author: Themesflat
  * Author URI: http://www.themesflat.com
*/

@import url("font-awesome.css");
@import url("owl.carousel.css");
@import url("flexslider.css");
@import url("animate.min.css");
@import url("ionicons.min.css");
@import url("themify-icons.css");
@import url("et-line.css");
@import url("shortcodes.css");
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url("fonts/utsaahb.ttf");
@import url("fonts/Myriad%20Pro%20Regular.ttf");

/**
  *	Reset
  *	Repeatable Patterns
  *	Header Top
  * Header Top Style1
  *	Header
  *	Mobile navigation
  *	Page title
  *	TP Banner
  *	Main Content
  * Main Content Style1
  *	SideBar
  *	Blog Pagination
  *	Footer
  *	Footer style2
  *	Footer Bottom
  * Blog Single
  * Menu Canvas
  * Preload
*/

/* Reset
-------------------------------------------------------------- */
html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	   -ms-text-size-adjust: 100%;
}

body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	   -ms-text-size-adjust: 100%;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video  {
	font-family: inherit;
	font-size: 100%;
	font-weight: 300;
	font-style: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}
.about-image
{
	margin-top: 44px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	-webkit-hyphens: none;
	  -moz-hyphens: none;
	   -ms-hyphens: none;
	       hyphens: none;
	        quotes: none;
}

figure {
	margin: 0;
}

:focus {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

legend {
	white-space: normal;
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	       box-sizing: border-box;
}

button,
input {
	line-height: normal;
}

input,
textarea {
	background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	line-height: 1;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	border: none;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* Repeatable Patterns
-------------------------------------------------------------- */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
	font: 14px/24px "Poppins", sans-serif;
	background-color: #fff;
	color: #5d5d5d;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: black;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
	color: #0facee;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}


ul, ol {
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

.img-right {
	margin: 0 0 0 50px !important;
	float: right;
}

b, strong {
	font-weight: 900;
}

button {
	border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    display: inline-block;
    padding: 0px 29px 0 30px;
    height: 47px;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 5px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    letter-spacing: 0.5px;
}

button.search-submit-form {
	position: absolute;
    right: 16px;
    top: 1px;
    padding: 0px 17px;
    color: #0e0e0e;
    background-color: #ffffff;
    display: inline-block;
    line-height: 68px;
    height: 68px;
    font-size: 19px;
    border-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="email"] {
	position: relative;
    display: block;
    width: 100%;
    line-height: 24px;
    padding: 8px 60px 8px 24px;
    color: #222222;
    border: 1px solid #a6a6a6;
    height: 47px;
    background-color: #ffffff;
    border-radius: 0px;
    margin-bottom: 20px;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}


input[type="search"] {
	padding:  8px 50px 8px 20px;
    height: 70px;
}

input[type="email"] {
    padding: 8px 20px;
    color: #555555;
    border: 1px solid #2e363a;
    height: 47px;
    margin-bottom: 19px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
	border: 1px solid #0facee;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

textarea {
	width: 100%;
	padding: 7px 19px;
    height: 170px;
}

input[type="checkbox"] {
	display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
	color: #5d5d5d;
	opacity: 1;
}

input:-ms-input-placeholder {
	color: #5d5d5d;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	color: #5d5d5d;
	opacity: 1;
}

/* bootstrap resetting elements */
.btn {
	background-image: none;
}

textarea,
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	-webkit-appearance: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #255577;
}

h1 { font-size: 36px; line-height: 40px; }
h2 { font-size: 24px; line-height: 35px; }
h3 { font-size: 16px; line-height: 27px; }
h4 { font-size: 14px; line-height: 27px; }

.container {
	width: 1200px;
	max-width: 100%;
}

.height49 {
	height: 49px;
}

.clearfix {clear: both;}
.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}

.blue {color: #0facee;}
.orange {color: #0facee;}
.text-color {color: #2c2c2c;}

.btn-more a {
	color: #ffffff;
	font-size: 14px;
	padding: 10px 30px;
	background-color: #0facee;
	border-radius: 3px;
}
.btn-more a:hover {background-color: #0facee;}
.bg-blue {background-color: #0facee;}

.background{background-color: #f9fafb;}

.boxed {
	position: relative;
}

.boxed.overlay-canvas:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 998;
	background: rgba(0, 0, 0, 0.8);
}

/* Header Top
-------------------------------------------------------------- */
.header-top {
	background-color: #222222;
}

ul.flat-infomation {
	float: left;
}

ul.flat-infomation li {
	display: inline-block;
	color: #fff;
	font-size: 12px;
	position: relative;
	padding-left: 19px;
	padding-right: 31px;
}

ul.flat-infomation li a {
	color: #ffffff;
	line-height: 43px;
    position: relative;
    letter-spacing: 0.3px;
    padding-left: 4px;
}

ul.flat-infomation li.email a {
	padding-left: 0px;
    letter-spacing: 0.1px;
}

ul.flat-infomation li:before {
	content: "\f095";
	position: absolute;
	font-family: 'fontawesome';
	color: #fff;
	left: 2px;
	line-height: 47px;
}

ul.flat-infomation li.email:before {
	content: "\f0e0";
	left: -2px
}

ul.flat-infomation li a:hover {
	color: #0facee;
}

.header-top ul.flat-social {
	float: right;
}

.header-top ul.flat-social li {
	display: inline-block;
	padding-left: 14px;
}

.header-top ul.flat-social li a {
	line-height: 42px;
	padding-top: 3px;
	display: block;
	color: #fff;
}

/* Header Top Style1
-------------------------------------------------------------- */
.header-top.style1 {
	background-color: transparent;
	border-bottom: 1px solid #f8f8f8;
}

.header-top.style1 ul.flat-infomation {
	float: right;
}

.header-top.style1 ul.flat-infomation li a:not(:hover),
.header-top.style1 ul.flat-infomation li,
.header-top.style1 ul.flat-infomation li:before {
	color: #555555;
	line-height: 59px;
}

.header-top.style1 ul.flat-infomation li {
	font-size: 14px;
}

.header-top.style1 .menu-extra > div {
	line-height: 59px;
}

.header-top.style1 .menu-extra > div.box-search .top-search {
	top: 5px;
}

/* Header
-------------------------------------------------------------- */
.header {
	background-color: #fff;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

/* Header Fix */
/*
.header.downscrolled {
	width: 100%;	
	position: fixed;
	opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	filter: alpha(opacity=0);
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
*/

.header.upscrolled {
	opacity: 1;
	z-index: 9999;
	background-color: #fff;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter: alpha(opacity=100);
	visibility: visible;
	top: 0;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* Logo */
#logo {
	float: left;
	width: 128px;
	height: 89.6px;
}

#logo a {
	line-height: 90px;
}

#logo.style1 {
	position: absolute;
	top: -60px;
	left: 15px;
	z-index: 5;
}

#logo.style1 a img:last-child {
	display: none;
}

/* Header Style1 */
#header.style1 #logo a,
#header.style1 #mainnav .menu > li > a,
#header.style1 .menu-extra > div {
	line-height: 76px;
}

#header.style1 #mainnav .menu > li:hover > .sub-menu {
	top: 76px;
}

#header.style1 .menu-extra > div.box-search .top-search {
	top: 15px;
}

#header.style1 .btn-menu {
	margin: 30px 0 30px 20px;
}

/* Header Style2 */
#header.style2 #mainnav .menu > li > a {
	line-height: 86px;
}

#header.style2 #mainnav .menu > li > .sub-menu {
	top: 86px;
}

/* Show Search */
.show-search {
	float: right;
	position: relative;
}

.show-search > button {
	text-align: center;
	display: block;
	position: relative;
	padding: 0;
	background-color: transparent;
	width: 15px;
	height: 0px;
	top: -35px;
}

.show-search > button:before {
    content: "\f002";
    font-family: 'fontawesome';
    top: 0px;
    position: absolute;
    left: 0px;
}

.show-search > button.active:before {
	content: "\f00d";
}

.show-search > button:hover:before {
	color: #0facee;
}

.show-search .top-search {
	position: absolute;
	visibility: hidden;
	z-index: -1;
	right: 0;
	top: 50px;
	width: 250px;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
       -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
}

.submenu.top-search.widget_search.active {
    top: 0px;
    visibility: visible;
    z-index: 99;
	opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
       -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
}

button.search-submit-form.active {
	right: 1px;
}

/* Main Menu */
.nav-wrap {
	float: right;
}

#mainnav {
	margin-right: 25px;
}

#mainnav .menu > li {
	display: inline-block;
	position: relative;
}

#mainnav .menu > li > a {
	display: inline-block;
	padding: 0 30px;
	color: #222222;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 90px;
	position: relative;
}

#mainnav .menu > li > a.icon:before {
	content: '\f107';
	font-family: 'fontawesome';
	position: absolute;
	right: 15px;
}

#mainnav .menu > li.active > a {
	color: #0facee;
}

#mainnav .menu > li > a:hover {
	color: #0facee;
}

#mainnav .menu > li:last-child a {
	padding-right: 0;
}

#mainnav .menu > li a i.fa {
	padding-left: 6px;
}

/* Sub-menu */
#mainnav .menu > li > .sub-menu {
	opacity: 0;
	z-index: 9999;
	position: absolute;
	width: 254px;
	background-color: #fff;
	top: 110px;
	left: 0;
	box-shadow: 0 3px 8px 0 #2c2c2c;
	visibility: hidden;
	-webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
       -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
           transition: all 0.5s ease-in-out;
}

#mainnav .menu > li:hover > .sub-menu {
	opacity: 1;
	top: 90px;
	visibility: visible;
	-webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
       -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
}

#mainnav .menu > li > .sub-menu > li > a {
	display: block;
	padding: 0px 0px 0px 30px;
	line-height: 42px;
	border-bottom: 1px solid rgba(26, 24, 35, 0.13);
	color: #7d8698;
}

#mainnav .menu > li > .sub-menu > li.active > a {
	color: #0facee;
}

#mainnav .menu > li > .sub-menu > li:last-child > a {
	border-bottom: none;
}

#mainnav .menu > li > .sub-menu > li > a:hover {
	color: #0facee;
}

/* Mobile navigation
---------------------------------------------------------------*/
#mainnav-mobi {
   	display: block;
   	margin: 0 auto;
   	width: 100%;
   	position: absolute;
   	background-color: #222222;
   	z-index: 1000;
   	left: 0px;
   	top: 90px;
}

#mainnav-mobi ul {
   	display: block;
   	list-style: none;
   	margin: 0;
   	padding: 0;
}

#mainnav-mobi ul li {
   	margin:0;
   	position: relative;
   	text-align: left;
   	border-top: 1px solid #333333;
   	cursor: pointer
}

#mainnav-mobi ul > li > a {
   	text-decoration: none;
   	height: 50px;
   	line-height: 50px;
   	padding: 0 15px;
   	color: #fff;
}

#mainnav-mobi ul > li.active > a,
#mainnav-mobi ul.sub-menu li.active a {
	color: #0facee;
}

#mainnav-mobi ul.sub-menu {
   	top: 100%;
   	left: 0;
   	z-index: 2000;
   	position: relative;
   	background-color: #101010;
}

#mainnav-mobi > ul > li > ul > li,
#mainnav-mobi > ul > li > ul > li > ul > li {
   	position: relative;
   	border-top: 1px solid #333333;
}

#mainnav-mobi > ul > li > ul > li > ul > li a {
   	padding-left: 70px !important
}

#mainnav-mobi ul.sub-menu > li > a {
   	display: block;
   	text-decoration: none;
   	padding: 0 40px;
   	border-top-color: rgba(255,255,255,.1);
	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
	     -o-transition: all 0.2s ease-out;
	        transition: all 0.2s ease-out;
}

#mainnav-mobi > ul > li > ul > li:first-child a {
	border-top: none;
}

#mainnav-mobi ul.sub-menu > li > a:hover,
#mainnav-mobi > ul > li > ul > li.active > a {
	color: #fff;
}

#header.style1 #mainnav-mobi {
	top: 76px;
}

/* Button menu mobile */
.btn-menu {
	display: none;
	position: relative;
	background: transparent;
	cursor: pointer;
	margin: 37px 0;
	width: 26px;
	height: 16px;
	float: right;
    margin-left: 20px;
    z-index: 999;
    -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}

#header.style1 .nav-wrap .btn-menu {
	margin: 30px 20px 30px 0;
}

.btn-menu:before,
.btn-menu:after, 
.btn-menu span {
	background-color: #222222;
    -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after {
	content: '';
	position: absolute;
	top: 0;
	height: 2px;
	width: 24px;
	left: 0;
	top: 50%;
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
}

.btn-menu span {
	position: absolute;
	width: 24px;
	height: 2px;
	left: 0;
	top: 50%;
	overflow: hidden;
	text-indent: 200%;
}

.btn-menu:before {
	-webkit-transform: translate3d(0, -7px, 0);
	        transform: translate3d(0, -7px, 0);
}

.btn-menu:after {
	width: 24px;
	-webkit-transform: translate3d(0, 7px, 0);
            transform: translate3d(0, 7px, 0);
}

.btn-menu.active:after {
	width: 24px;
}

.btn-menu.active span {
	opacity: 0;
}

.btn-menu.active:before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
}

.btn-menu.active:after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
}

.btn-submenu {
   position: absolute;
   right: 0px;
   top: 0;
   font: 20px/50px 'FontAwesome';
   text-align: center;
   cursor: pointer;
   width: 50px;
   height: 50px;
}

.btn-submenu:before {
   content: "\f107";
   color: #ffffff;
}

.btn-submenu.active:before {
   content: "\f106"
}

.btn-submenu-child {
	right: 50px;
}

/* Menu Extra */
.menu-extra {
	float: right;
	position: relative;
}

.menu-extra:before {
	content: '';
	position: absolute;
	height: 10px;
	width: 1px;
	background-color: #dad7d7;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.menu-extra > div {
	display: inline-block;
	line-height: 90px;
	padding-left: 17px;
}

.menu-extra > div.box-search {
	padding-left: 27px;
	position: relative;
}

.menu-extra > div span {
	cursor: pointer;
}

.menu-extra > div.box-search .top-search {
	opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 240px;
    right: -240px;
    top: 22px;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

.menu-extra > div.box-search .top-search.active {
	right: 0;
	opacity: 1;
	visibility: visible;
}

.menu-extra > div.box-search .top-search .input-search button {
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	color: #222;
	padding: 0 15px;
}


/* Page Title
---------------------------------------------------------------*/
.page-title {
	position: relative;
	height: 79px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(30, 81, 131, 0.4);
	height: 100%;
	width: 100%;
}

.title-heading {
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.page-title-heading {
	text-align: center;
}

.page-title-heading h1 {
	font-weight: bold;
	letter-spacing: 2.5px;
	line-height: 30px;
	color: #ffffff;
	font-size: 40px;
}

/* breadcrumbs */
.breadcrumbs {
	text-align: center;
	margin-top: 22px;
}

.breadcrumbs ul li {
	display: inline-block;
	color: #fff;
}

.breadcrumbs ul li a {
	color: #fff;
	font-size: 14px;
	position: relative;
	padding-right: 12px;
	letter-spacing: 0.8px;
	margin-right: 2px;
}

.breadcrumbs ul li a:after {
	content: "\f105";
	font-family: 'fontawesome';
	position: absolute;
	top: -2px;
	right: -2px;
	font-size: 14px;
}

.breadcrumbs ul li a:hover,
.breadcrumbs ul li a:hover:after {
	color: #0facee;
}

.breadcrumbs ul li:last-child a:after {
	content: '';
}

/* TP Banner
---------------------------------------------------------------*/
.tp-caption.flat-button-slider.bg-blue {
	border:  2px solid transparent;
}

/* Main Content
---------------------------------------------------------------*/
.main-content {
	padding: 20px 0 5px;
}

/* Main Post */
article.main-post {
	padding: 15px 0;
    margin-bottom: 13px;
}

article.main-post:first-child {
	padding: 0 0 15px;
}

article.main-post .entry-post-title .post-title {
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 26px;
}

article.main-post .entry-post-title .post-title a {
	color: #0e0e0e;
	font-weight: 600;
}

article.main-post .entry-post-title .post-title a:hover {
	color: #0facee;
}

article.main-post .featured-post ul.entry-meta li {
	display: inline-block;
	padding-left: 23px;
	position: relative;
	margin-left: 18px;
}

article.main-post .featured-post ul.entry-meta li:first-child {
	margin-left: 0;
}

article.main-post .featured-post ul.entry-meta li:last-child {
	border-right: none;
}

article.main-post .featured-post ul.entry-meta li:before {
	content: "\f017";
	font-family: "Fontawesome";
	position: absolute;
	top: 2px;
    left: 8px;
    font-size: 13px;
	color: #0facee;
}

article.main-post .featured-post ul.entry-meta {
	margin-right: 24px;
    text-align: right;
    margin-top: 14px;
}

article.main-post .featured-post ul.entry-meta li.date:before {
	left: 2px;
}

article.main-post .featured-post ul.entry-meta li.author:before {
	content: "\f007";
}

article.main-post .featured-post ul.entry-meta li.comment:before {
	content: "\f0e5";
}

article.main-post .featured-post ul.entry-meta li.folder:before {
	content: "\f114";
}

article.main-post .featured-post ul.entry-meta li a {
	color: #5d5d5d;
	font-size: 13px;
}

article.main-post .featured-post ul.entry-meta li a:hover {
	color: #0facee;
}

article.main-post .featured-post {
	margin-bottom: 35px;
	position: relative;
}

article.main-post .featured-post .post-date {
	position: absolute;
	/* bottom: -2px; */
	left: -58px;
	background-color: #C5746D;
	padding: 9px 15px 3px;
	text-align: center;
	color: #fff;
	top: 2px;
}

article.main-post .featured-post .post-date .day {
	font-size: 20px;
	letter-spacing: 0.5px;
	font-weight: bold;
	padding: 0;
}

article.main-post .featured-post .post-date .month {
	font-size: 15px;
    padding: 16px 0;
}

article.main-post .entry-content .more-link {
	text-align: right;
	margin-top: 20px;
}

article.main-post .entry-content p {
	line-height: 27px;
}

article.main-post .entry-content .more-link a {
    color: #0facee;
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 15px;
    padding-right: 47px;
}

article.main-post .entry-content .more-link a:hover {
	color: #0facee;
}

article.main-post .entry-content .more-link a:before {
	content: "\f101";
	font-family: 'FontAwesome';
	position: absolute;
	top: 50%;
	right: 29px;
	font-size: 16px;
	-webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
    	-ms-transform: translateY(-50%);
    	 -o-transform: translateY(-50%);
    	 	transform: translateY(-50%);
   -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
       -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
}

article.main-post .entry-content .more-link a:hover:before {
	right: 22px;
	color: #0facee;
}

/* Main Content Style1
---------------------------------------------------------------*/
.main-content.style1 {
	padding: 94px 0 63px;
}

article.main-post.style1 {
	margin-bottom: 42px;
}

article.main-post.style1 .featured-post {
	margin-bottom: 34px;
}

article.main-post.style1 .featured-post .post-date {
	top: 19px;
	right: 20px;
	left: auto;
	bottom: auto;
	padding: 10px 14px 4px;
}

article.main-post.style1 .featured-post .post-date .day {
	font-size: 24px;
}

article.main-post.style1 .featured-post .post-date .month {
	font-size: 16px;
	font-weight: 600;
	padding: 0;
}

article.main-post.style1 .entry-content p {
	line-height: 26px;
}

/* Sidebar
---------------------------------------------------------------*/
.sidebar {
	padding-left: 50px;
}

/* Widget */
.widget {
	margin-bottom: 67px;
}

.sidebar .widget:last-child {
	margin-bottom: 0px;
}

.widget .widget-title {
	font-size: 18px;
	color: black;
	font-weight: 600;
	position: relative;
	margin-bottom: 25px;
	text-transform: uppercase;
}

/* Widget Search */
.widget-search .search-form input {
	height: 53px;
}

.widget-search .search-form button {
	line-height: 50px;
	height: auto;
}

/* Widget Categories */
.widget-categories {
	margin-bottom: 50px;
}

.widget-categories li {
	padding: 5px 0 5px 0;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	color: #545b6a;
}

.widget-categories li:last-child {
	border: none;
}

.widget-categories li a {
	position: relative;
    font-size: 14px;
    padding-left: 13px;
    letter-spacing: -0.5px;
}

.widget-categories li a:before {
	content: "\f105";
	font-family: 'fontawesome';
	position: absolute;
	top: 50%;
	left: 0;
	font-weight: normal;
	font-size: 16px;
	transform: translateY(-50%);
}

.widget-categories li a:hover:before {
	color: #0facee;
}

.widget-categories li span {
	color: #b5b5b5;
	float: right;
	font-size: 15px;
}

/* Widget Recent */
.widget-recent {
	margin-bottom: 56px;
}

.widget-recent .widget-title{
	margin-bottom: 40px;
}

.widget-recent .recent-list .recent-image {

}

.widget-recent .recent-list .recent-image.last {
	margin: 0 0 10px;
}

/* Widget Tag */
.widget-tags .widget-title {
	margin-bottom: 17px;
}

.widget-tags .tag-cloud a {
    padding: 7px 17px 4px 15px;
    color: #555555;
    font-size: 13px;
    line-height: 29px;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    display: inline-block;
    margin-right: 4px;
}

.widget-tags .tag-cloud a:hover {
	color: #ffffff;
	background-color: #0facee;
	border-color: #0facee;
}

/* Blog Pagination
---------------------------------------------------------------*/
.blog-pagination {
	text-align: center;
	margin-top: 18px;
	margin-bottom: 30px;
}

.flat-pagination li {
	display: inline-block;
}

.flat-pagination li a {
	padding: 0 12px;
	display: block;
	font-size: 13px;
}

.flat-pagination li.prev a,
.flat-pagination li.next a {
	padding: 0;
}

.flat-pagination li a.active {
	color: #0facee;
}

/* Flat Pagination Style1 */
.flat-pagination.style1 li a {
	height: 38px;
	line-height: 38px;
	width: 33px;
	text-align: center;
	border: 1px solid #e8e8e8;
	border-radius: 1px;
}

.flat-pagination.style1 li.next a {
	width: 72px;
}

.flat-pagination.style1 li.next a i {
	padding-left: 5px;
}

/* Footer
---------------------------------------------------------------*/
footer {
	background-color: #222222;
	color: #ffffff;
	padding: 0px 0 0px;
}
/* Widget About */
.widget-about .logo-ft {
	margin-bottom: 30px;
    margin-top: 5px;
}

.widget-about .text-about p {
	    margin-bottom: 25px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: -0.08px;
    padding-right: 20px;
}

/* Form Footer */
#subscribe-content input {
	height: 45px;
}

.form-footer form {
	position: relative;
}

.form-footer form button {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #037492;
	border-radius: 0;
	font-size: 16px;
	padding: 0 18px;
	height: 45px;
}

.form-footer form button:hover {
	background-color: #0facee;
}

/* Widget Footer */
.widget-footer .widget-title {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #fff;
	padding-bottom: 2px;
	margin-bottom: 38px;
	position: relative;
}

.widget-footer .widget-title span {
	color: #0facee;
}

.widget-footer .widget-title:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 50px;
	background-color: #037492;
	bottom: 0;
	left: 0;
}

.widget-footer {
	color: #a7a0a0;
}

/* Widget Portfolio */
.widget-portfolio ul.portfolio-ft li {
	display: inline-block;
	margin-right: 6px;
	margin-bottom: 2px;
	overflow: hidden;
}

.widget-portfolio ul.portfolio-ft li a {
	position: relative;
	display: block;
}

.widget-portfolio ul.portfolio-ft li a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 170, 232, 0.9);
	opacity: 0;
	z-index: 3;
	-webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
       -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
}

.widget-portfolio ul.portfolio-ft li a:hover:before {
	opacity: 1;
}

.widget-portfolio ul.portfolio-ft li a:after {
	content: "\f489";
	position: absolute;
	font-family: 'Ionicons';
	font-size: 48px;
	color: #fff;
	z-index: 5;
	top: 50%;
	left: 50%;
	margin-top: -12px;
	margin-left: -12px;
	opacity: 0;
	transform: scale(1.5);
	-webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
       -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
}

.widget-portfolio ul.portfolio-ft li a:hover:after {
	opacity: 1;
	transform: scale(1);
}

/* Widget Quicklink */
.widget-quicklink {
	overflow: hidden;
}

.widget-quicklink .widget-title {
	margin-bottom: 7px;
}

.widget-quicklink .one-half {
	float: left;
	width: 32%;
}

.widget-quicklink .one-half.second {
	padding-left: 10px;
}

.widget-quicklink .one-half li {
	margin-bottom: 0px;
}

.widget-quicklink .one-half li a {
	color: #a7a0a0;
	position: relative;
	padding-left: 21px;
	font-size: 14px;
}

.widget-quicklink .one-half li a:before {
	content: "\f105";
	font-family: 'fontawesome';
	position: absolute;
	top: 48%;
	left: 2px;
	transform: translateY(-50%);
}

.widget-quicklink .one-half li a:hover {
	color: #0facee;
}

/* Widget Contact */
.widget-contact .widget-title {
	margin-bottom: 5px;
}

.widget-contact .footer-info li {
	padding-left: 31px;
	margin-bottom: -3px;
	padding-top: 1px;
	position: relative;
	font-size: 14px;
	letter-spacing: 0.3px;
	line-height: 25px;
}

.widget-contact .footer-info li.phone {
	padding-left: 29px;
	padding-top: 2px;
}

.widget-contact .footer-info li.email {
	padding-left: 29px;
	letter-spacing: 0.1px;
}

.widget-contact .footer-info li.phone span {
	display: block;
	letter-spacing: 0.7px;
}

.widget-contact .footer-info li:before {
	content: "\f041";
	font-family: 'fontawesome';
	position: absolute;
	color: #fff;
	left: 0px;
	top: 1px;
}

.widget-contact .footer-info li.email:before {
	content: "\f0e0";
}

.widget-contact .footer-info li.phone:before {
	content: "\f095";
	top: 3px;
}

/* Footer Style2
-------------------------------------------------------------- */

footer.style2 .widget-quicklink .one-half.second {
	padding-left: 12px;
}

/* Footer Bottom
---------------------------------------------------------------*/
.footer-bottom {
	background-color: #141414;
	padding: 0px 0;
}

/* Copyright */
.copyright {
	color: #ffffff;
	float: left;
	line-height: 40px;
	font-size: 14px;
	font-weight: 300;
}

.copyright a {
	color: #0facee;
}

.copyright a:hover {
	color: #fff;
}

/* Social Footer */
.social-footer {
	float: right;
	margin-top: 3px;
}
.social-footer li {
	display: inline-block;
	line-height: 32px;
	width: 36px;
	margin-left: 2px;
}

.social-footer li a {
	color: #ffffff;
	background-color: #222222;
	border-radius: 3px;
	display: block;
	text-align: center;
	padding-top: 4px;
}

.social-footer li a:hover {
	background-color: #0facee;
}

/* Blog Single
---------------------------------------------------------------*/
/* Post Single */
article.post-single {
	margin-bottom: 0px;
}

article.post-single .featured-post .flexslider {
	margin: 0;
}

article.post-single .flexslider .flex-direction-nav a.flex-prev {
	left: 0;
	top: 46%;
	transform: translateY(-50%);
}

article.post-single .flexslider .flex-direction-nav a.flex-next {
	right: -10px;
	top: 46%;
	transform: translateY(-50%);
}

article.post-single .flexslider .flex-direction-nav a:before {
	background: rgba(15, 172, 238, 0.5);
	color: #000000;
	width: 40px;
	height: 47px;
}

article.post-single .flexslider .flex-direction-nav a:hover:before {
	background: rgba(15, 172, 238, 1);
}

article.post-single .featured-post .post-date {
	padding: 19px 19px 0;
	bottom: -6px;
}

article.post-single .featured-post .post-date .day {
	font-size: 48px;
}

article.post-single .featured-post .post-date .month {
	padding: 9px 0 12px;
	margin-top: 13px;
    border-top: 1px solid #fff;
}

article.post-single .featured-post ul.entry-meta {
	margin-right: 28px;
}

article.post-single .entry-post-title .post-title {
	font-size: 24px;
 	letter-spacing: 0.12px;
    margin: 52px 0 32px;
}

article.post-single .entry-content > p {
 	margin-bottom: 15px;
 	line-height: 28px;
}

article.post-single .entry-content blockquote {
	margin-left: 68px;
    padding: 27px 33px 28px 96px;
    background-color: #f3f3f3;
    font-size: 16px;
    color: #5d5d5d;
    position: relative;
    margin-bottom: 28px;
    margin-top: 28px;
    font-style: italic;
}

article.post-single .entry-content blockquote:before {
	content: "\f10d";
    font-family: 'fontawesome';
    position: absolute;
    color: #a6a6a6;
    font-size: 35px;
    font-style: normal;
    top: 40px;
    left: 48px;
	transform: skew(-10deg,0deg);
	-moz-transform: skew(-10deg,0deg);
	-webkit-transform: skew(-10deg,0deg);
	-o-transform: skew(-10deg,0deg);
	-ms-transform: skew(-10deg,0deg);
}

/* Social Post */
.social-post {
	margin-top: 60px;
    padding-bottom: 10px;
	border-bottom: 1px solid #dfdfdf;
}

.social-post .share {
	float: left;
}

.social-post .share a {
	font-size: 20px;
	color: #e2af11;
}

.social-post .social-list {
	float: right;
}

.social-post .social-list li {
	display: inline-block;
	margin-left: 20px;
}

.social-post .social-list li a {
	font-size: 20px;
	color: #a6a6a6;
}

.social-post .social-list li a:hover {
	color: #0e0e0e;
}

/* Main Single */
.main-single .comment-area .comment-title {
	font-size: 24px;
    font-weight: 600;
    color: #0e0e0e;
    margin: 66px 0 34px;
    letter-spacing: 2px;
}

/* Article Comment Body */
article.comment-body .comment-author {
	float: left;
	margin-right: 34px;
	border-radius: 50%;
	overflow: hidden;
}

/* Comment Text */
.comment-text .comment-metadata {
	line-height: 51px;
}

.comment-text .comment-metadata h5 {
	font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #0e0e0e;
    float: left;
    line-height: 51px;
    margin-right: 47px;
}

.comment-text .comment-metadata span {
	letter-spacing: 0.4px;
}

.comment-text .comment-metadata a.reply {
	float: right;
    font-weight: bold;
    color: #037492;
    position: relative;
    padding-left: 20px;
    margin-right: -1px;
    letter-spacing: 0.4px;
}

.comment-text .comment-metadata a.reply:hover {
	color: #0facee;
}

.comment-text .comment-metadata a.reply:before {
	content: "\f064";
	font-family: 'fontawesome';
	position: absolute;
	top: 0;
	left: 3px;
	color: #0e0e0e;
}

.comment-text .comment-content p {
	margin: 4px 0 0 135px;
    line-height: 27px;
}

/* Comment children */
.comment-list .children {
	margin-left: 69px;
	margin-top: 36px;
}

/* Comment Respond */
.comment-respond {
	margin-top: 83px;
    margin-bottom: 37px;
    background-color: #f3f3f3;
    padding: 36px 29px 25px 28px;
    position: relative;
}

.comment-respond .comment-reply-title {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 1.3px;
	color: #0e0e0e;
}

.comment-respond .comment-form {
	margin-top: 58px;
}

.comment-respond .comment-form-name,
.comment-respond .comment-form-email {
	width: 50%;
	float: left;
	margin-bottom: 10px;
}

.comment-respond .comment-form-name {
	padding-right: 15px;
}

.comment-respond .comment-form-name input {
	padding-left: 20px;
}

.comment-respond .comment-form-email {
	padding-left: 15px;
}

.comment-respond .comment-form-name input,
.comment-respond .comment-form-email input,
.comment-respond .comment-form-comment textarea {
	background-color: transparent;
	border-color: #a6a6a6;
}

.comment-respond .comment-form-name input,
.comment-respond .comment-form-email input {
	height: 50px;
}

.comment-respond .comment-form .btn-submit {
	position: absolute;
	top: 44px;
	right: 29px;
}

.comment-respond .comment-form .btn-submit button {
	background-color: #0facee;
	font-weight: 500;
	height: 40px;
	padding: 0 16px;
	border-radius: 0px;
}

/* Menu Canvas
---------------------------------------------------------------*/
.menu-canvas {
	width: 545px;
	padding: 0 70px 80px;
	position: absolute;
	top: 0;
	right: -545px;
	z-index: 9999;
	background-color: #fff;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
       -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
}

.menu-canvas.show {
	right: 0;
	opacity: 1;
	visibility: visible;
}

.menu-canvas > span.delete {
	position: absolute;
	font-size: 28px;
	color: #222;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.menu-canvas .logo-canvas {
	margin-top: 12px;
	margin-bottom: 12px;
}

.menu-canvas .canvas-content p {
	font-size: 15px;
	font-weight: 300;
	line-height: 23px;
	color: #677183;
}

.menu-canvas .canvas-content ul {
	margin-top: 27px;
	margin-bottom: px;
}

.menu-canvas .canvas-content ul li {
	position: relative;
}

.menu-canvas .canvas-content ul li:not(:last-child) {
	margin-bottom: 15px;
}

.menu-canvas .canvas-content ul li .icon {
	position: absolute;
	font-size: 40px;
	color: #0facee;
	text-align: center;
	width: 60px;
	top: 8px;
}

.menu-canvas .canvas-content ul li .text {
	padding-left: 80px;
}

.menu-canvas .canvas-content ul li .text .title {
	font-size: 16px;
	font-weight: 600;
	color: #222222;
	line-height: 30px;
}

.menu-canvas .canvas-content ul li .text p {
	font-size: 14px;
	color: #677183;
	line-height: 24px;
}

.menu-canvas .canvas-content .btn-more a {
	display: block;
	text-align: center;
}

/* Preload
-------------------------------------------------------------- */
.preloader {
	background-color: #fff;
	position: fixed;
	z-index: 9999;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.dizzy-gillespie {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -40px;
	filter: saturate(3);
	width: 0.1px;
	height: 0.1px;
	border: 40px solid transparent;
	border-radius: 5px;
	animation: loader 3s ease-in infinite, spin 1s linear infinite;
}

.dizzy-gillespie::before {
	filter: saturate(0.3);
	display: block;
	position: absolute;
	z-index: -1;
	margin-left: -40px;
	margin-top: -40px;
	content:'';
	height:0.1;
	width:0.1;
	border: 40px solid transparent;
	border-radius: 5px;
	animation: loader 2s ease-in infinite reverse, spin 0.8s linear infinite reverse;
}

.dizzy-gillespie::after {
	display: block;
	position: absolute;
	z-index: 2;
	margin-left: -10px;
	margin-top: -10px;
	content:'';
	height:20px;
	width:20px;
	border-radius: 20px;
	background-color: white;
}

@keyframes loader {
	0% {border-bottom-color:transparent;border-top-color:#114357}
	25% {border-left-color:transparent;border-right-color:#826C75}
	50% {border-top-color:transparent;border-bottom-color:#F29492}
	75% {border-right-color:transparent;border-left-color:#826C75}
	100% {border-bottom-color:transparent;border-top-color:#114357}
}

@keyframes spin {
	0% {transform: rotate(0deg) }
	100% {transform: rotate(-360deg) }


}